.conteiner {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .conteiner {
    padding: 60px 76px 192px 76px;
  }
}

@media screen and (min-width: 1024px) {
  .conteiner {
    max-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.gallery {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.photo-card {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .photo-card {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .photo-card {
    max-width: 293px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-card {
    max-width: 274px;
  }
}

.card-text {
  margin-top: 10px;
}

.title-card {
  font-size: 12px;
  line-height: 1.3;
  color: #000000;
}

.desc-card {
  font-size: 12px;
  line-height: 1.3;
  color: #ff6b08;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.34;
}

h2,
h3,
h4,
h5,
h6,
h1,
p {
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  font-family: inherit;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 75px;
    margin-right: 75px;
  }
}

.image-modal {
  margin: 20px 20px 30px 20px;
}

@media screen and (min-width: 768px) {
  .image-modal {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .image-modal {
    min-width: 426px;
    height: 514px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
}

.heder-images {
  font-size: 20px;
  line-height: 1.17;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .heder-images {
    margin-left: 30px;
  }
}

.table-description {
  margin-left: 20px;
  margin-bottom: 20px;
}

.table-description .tr-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-description .tr-table .tolowercase {
  text-transform: uppercase;
}

.table-description .tr-table .title-table-row {
  line-height: 1.17;
  display: block;
  color: #8C8C8C;
  width: 108px;
  margin-bottom: 10px;
}

.table-description .tr-table .description-table-row {
  display: inline-block;
  line-height: 1.17;
}

.table-description .tr-table .description-table-row .vote {
  color: #FFFFFF;
  width: 36px;
  height: 16px;
  background: #FF6B01;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-description .tr-table .description-table-row .votes {
  width: 36px;
  height: 16px;
  margin-left: 3px;
  background: #F7F7F7;
  border-radius: 5px;
}

.table-description .tr-table .flex-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .table-description {
    margin-left: 30px;
  }
}

.about {
  text-transform: uppercase;
  line-height: 1.34;
  margin-bottom: 10px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .about {
    margin-left: 30px;
  }
}

.text-about {
  line-height: 1.67;
  margin-left: 20px;
  margin-right: 21px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .text-about {
    margin-left: 30px;
    margin-right: 0;
  }
}

.button-watcyed {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #FF6B01;
  border-radius: 5px;
  width: 136px;
  height: 44px;
  margin-left: 20px;
  margin-right: 15px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-watcyed {
    margin-left: 30px;
  }
}

.button-queue {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 136px;
  height: 44px;
}
/*# sourceMappingURL=main.css.map */