@import './utils/_mixins.scss';
@import './utils/_variables.scss';

@import './components/_list_films_markup.scss';
@import './components/_page_modal.scss';

// @import './components/pagination';
@import './components/footer.scss';

@import './components/_header-common.scss';
@import './components/_header-myLibrary.scss';

@import './components/_loader.scss';
@import './components/_list_films_markup.scss';
@import './components/_page_modal.scss';
// @import './components/pagination';
