{{#each this}}
<li class="photo-card">
    <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" height="400" />

    <div class="card-text">
        <h3 class="title-card">{{title}}</h3>
        <p class="desc-card">Action | {{release_date}}</p>
    </div>
</li>
{{/each}}