@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin button($padding) {
  margin: 0;
  padding: $padding;
  border: none;
  outline: none;
  background: transparent;
}

@mixin text($color, $font-size, $font-weight, $line-height) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
