<header>
    <div class="header-image">
        <div class="header-container">
            <div class="header-common">
                <a class="header-logo" href="./index.html" aria-label="Ссылка на логотип компании">
                    <img class="header-logo-icon" src="./images/logo.svg" alt="Логотип компании" width="24px"
                        height="24px" />
                    <span class="header-logo-text">Filmoteka</span>
                </a>

                <nav>
                    <ul class="header-navigation-list">
                        <li class="header-navigation-item">
                            <a class="header-navigation-page" href="./index.html"
                                aria-label="Ссылка на главную страницу">home</a>
                        </li>
                        <li class="header-navigation-item  current">
                            <a class="header-navigation-page " href="./myLibrary.html"
                                aria-label="Ссылка на библиотеку пользователя">my library</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header-page">
<ul class="headerButtons">
    <li class="button-item"><button class="button js-btnWatched" data-action='watched'>watched</button></li>
    <li class="button-item"><button class="button js-btnQueue" data-action='queue'>queue</button></li>
</ul>
            </div>
        </div>
    </div>
</header>