<header>
  <div class="header-image">
    <div class="header-container">
      <div class="header-common">
        <a
          class="header-logo"
          href="./index.html"
          aria-label="Ссылка на логотип компании"
        >
          <img
            class="header-logo-icon"
            src="./images/logo.svg"
            alt="Логотип компании"
            width="24px"
            height="24px"
          />
          <span class="header-logo-text">Filmoteka</span>
        </a>

        <nav>
          <ul class="header-navigation-list">
            <li class="header-navigation-item current">
              <a
                class="header-navigation-page"
                href="./index.html"
                aria-label="Ссылка на главную страницу"
                >home</a
              >
            </li>
            <li class="header-navigation-item">
              <a
                class="header-navigation-page"
                href="./myLibrary.html"
                aria-label="Ссылка на библиотеку пользователя"
                >my library</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-page">
        <form class="header-search">
          <input
            class="header-search-input"
            type="text"
            name="query"
            placeholder="Поиск фильмов"
            autocomplete="off"
          />
          <input class="header-submit-input" type="submit" value="" />
        </form>
        <p class="header-error-text">
          Search result not successful. Enter the correct movie name and
        </p>
      </div>
    </div>
  </div>
</header>
