<!-- 
1.team-lead
2.scram-master
3.developer
 -->
<div class="backdrop js-backdrop">
    <button class="close-modal-btn team-btn"></button>
    <div class="team-modal">
        <h2 class="team-title">Our Team</h2>
        <ul class="team-list">
            <li class="team-item">
                <img class="team-img" src="./images/ganenko-dmitri.jpg" alt="Ganenco Dmitri" width="140">
                <h3 class="team-name">Ganenco Dmitri</h3>               
                <a href="https://github.com/ganenkodmitrii">
                    <div class="team-box">
                        <p class="team-role">Developer</p>
                        <img src="./images/github-icon.svg" alt="github image" width="24" height="24">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>