<!-- 
1.team-lead
2.developer
 -->
<div class="backdrop js-backdrop">
    <button class="close-modal-btn team-btn"></button>
    <div class="team-modal">
        <h2 class="team-title">Our Team</h2>
        <ul class="team-list">
            <li class="team-item">
                <div class="team-thumb">
                    <img class="team-img" src="./images/reznik-denis.jpg" alt="Reznik Denis">
                </div>
                <h3 class="team-name">Reznik Denis</h3>
                <a class="team-link" href="https://github.com/reznik-denis">
                    <div class="team-box">
                        <p class="team-role">Scrum Master</p>
                        <img class="github-icon" src="./images/github-icon.svg" alt="github image" width="24" height="24">
                    </div>
                </a>
            </li>
            <li class="team-item">
                <div class="team-thumb">
                    <img class="team-img" src="./images/irina-koksharova.jpg" alt="Koksharova Irina">
                </div>
                <h3 class="team-name">Koksharova Irina</h3>
                <a class="team-link" href="https://github.com/Irina-Koksharova">
                    <div class="team-box">
                        <p class="team-role">Developer</p>
                        <img class="github-icon" src="./images/github-icon.svg" alt="github image" width="24" height="24">
                    </div>
                </a>
            </li>
            <li class="team-item">
                <div class="team-thumb">
                    <img class="team-img" src="./images/davydov-stas.jpg" alt="Davydov Stas">
                </div>
                <h3 class="team-name">Davydov Stas</h3>
                <a class="team-link" href="https://github.com/DavydovStas">
                    <div class="team-box">
                        <p class="team-role">Developer</p>
                        <img class="github-icon" src="./images/github-icon.svg" alt="github image" width="24" height="24">
                    </div>
                </a>
            </li>
            <li class="team-item">
                <div class="team-thumb">
                    <img class="team-img" src="./images/zvieriev-vitalii.jpg" alt="Zvieriev Vitalii">
                </div>
                <h3 class="team-name">Zvieriev Vitalii</h3>
                <a class="team-link" href="https://github.com/Vitaliy-Z">
                    <div class="team-box">
                        <p class="team-role">Developer</p>
                        <img class="github-icon" src="./images/github-icon.svg" alt="github image" width="24" height="24">
                    </div>
                </a>
            </li>
            <li class="team-item">
                <div class="team-thumb">
                    <img class="team-img" src="./images/ganenko-dmitri.jpg" alt="Ganenco Dmitri">
                </div>
                <h3 class="team-name">Ganenco Dmitri</h3>               
                <a class="team-link" href="https://github.com/ganenkodmitrii">
                    <div class="team-box">
                        <p class="team-role">Developer</p>
                        <img class="github-icon" src="./images/github-icon.svg" alt="github image" width="24" height="24">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>