<!-- Нужно раскомментировать для пагинации Юры -->
<!-- <div class="block-pagination">
  <button class="left ishidden">left</button>
  <ul class="button-pages"></ul>
  <button class="rigth ishidden">rigth</button>
</div> -->

<!-- Нужно раскомментировать для пагинации Иры -->
<div class="block-pagination ishidden">
  <button class="block-pagination-left">
    <img
      class="block-pagination-image"
      src="./images/arrow-left.svg"
      alt="Кнопка - переключатель назад"
      width="16px"
      height="16px"
    />
  </button>

  <div class="stable-button-container-prev"></div>

  <div class="block-pagination-hidden">
    <ul class="block-pagination-list"></ul>
  </div>

  <div class="stable-button-container-next"></div>

  <button class="block-pagination-right">
    <img
      class="block-pagination-image"
      src="./images/arrow-right.svg"
      alt="Кнопка - переключатель вперед"
      width="16px"
      height="16px"
    />
  </button>
</div>
