    <!-- <div class="pages-container">
        <ul class="list">
        <div class="arrow-class"><li><a class="arrow-bckg" href=""><img src="./images/arrow-left.svg" alt="arrow-left" width="16px" height="16px"></a></li></div>
        <div><li><a href="">1</a></li></div>
        <div><li><a href="">...</a></li></div>
        <div><li><a href="">13</a></li></div>
        <div><li><a href="">14</a></li></div>
        <div><li><a class="current-page" href="">15</a></li></div>
        <div><li><a href="">16</a></li></div>
        <div><li><a href="">17</a></li></div>
        <div><li><a href="">...</a></li></div>
        <div><li><a href="">20</a></li></div>
        <div class="arrow-class"><li><a class="arrow-bckg" href=""><img src="./images/arrow-right.svg" alt="arrow-right"></a></li></div>
    </ul>
    </div> -->
<div class="pages-container">
<a class="page arrow-class" href=""><img src="./images/arrow-left.svg" alt="arrow-left" width="16px" height="16px"></a>
<a class="page" href="">1</a>
<a class="page" href="">...</a>
<a class="page" href="">13</a>
<a class="page" href="">14</a>
<a class="page current-page" href="">15</a>
<a class="page" href="">16</a>
<a class="page" href="">17</a>
<a class="page" href="">...</a>
<a class="page" href="">20</a>
<a class="page arrow-class" href=""><img src="./images/arrow-right.svg" alt="arrow-right"></a>
</div>