.footer {
  background-color: #f7f7f7;
  width: 100%;
  //   margin-left: auto;
  //   margin-right: auto;
}

.footer-container {
  //   outline: 2px solid rebeccapurple;
  margin: 0 auto;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }
}

.footer-content {
  @media screen and (max-width: 767px) and (min-width: 320px) {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 30px;
    padding-bottom: 28px;
  }
}

.footer-text {
  //   outline: 2px solid blue;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #545454;
  margin: 0;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and (min-width: 768px) {
    margin-right: 5px;
  }
}

.footer-text-second {
  margin: 0;

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #545454;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.footer-svg {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.footer-link {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #545454;
  text-decoration: revert;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
  }
}
