$primary-bg-color: #e5e5e5;
$footer-bg-color: #f7f7f7;
$accent-bg-color: #ff6b08;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$footer-text-color: #545454;
$notification-text-color: #ff001b;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

.conteiner {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    padding: 60px 76px 192px 76px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.gallery {
  margin: -15px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.photo-card {
  margin: 15px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    // width: calc(100% - 15px);
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $tablet) {
    max-width: 293px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 274px;
  }
}

.poster-film {
  height: 400px;
}

.card-text {
  margin-top: 10px;
}

.title-card {
  font-size: 12px;
  line-height: 1.3;
  color: $primary-text-color;
}

.desc-card {
  font-size: 12px;
  line-height: 1.3;
  color: $accent-bg-color;
}
