// add this class to body
// .modal-open {
//   overflow: hidden;
// }

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  //   height: 100vh;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
}

.team-modal {
  padding: 20px;
  max-width: 280px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 10;
  border-radius: 10px;
  background-color: #ffffff;

  transition: transform var(--animation-duration) var(--timing-function);

  // outline: 2px solid tomato;

  @media screen and (min-width: 768px) {
    max-width: 618px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 882px;
  }
}

.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.team-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    width: 25px;
    height: 25px;
    background-size: 60%;
  }
}

.team-btn:hover,
.team-btn:focus {
  background-color: rgba(255, 107, 8, 0.5);
}

.team-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #000000;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  @media screen and (max-width: 767px) and (min-width: 320px) {
    flex-direction: column;
  }
}

.team-item {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 30px;
  }
}

.team-thumb {
  // overflow: hidden;
  width: 200px;
  height: 200px;
}

.team-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.team-name {
  margin: 10px auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #545454;

  @media screen and (max-width: 767px) and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.team-link {
  color: #545454;
  text-decoration: revert;

  transition: color var(--animation-duration) var(--timing-function);
}

.team-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.team-role {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #545454;
  text-decoration: revert;

  transition: color var(--animation-duration) var(--timing-function);

  @media screen and (max-width: 767px) and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.github-icon {
  border-radius: 50%;
  transition: box-shadow var(--animation-duration) var(--timing-function);
}

.team-link:hover,
.team-link:focus {
  color: #ff6b01;
  .team-role {
    color: #ff6b01;
  }
  .github-icon {
    box-shadow: 0px 0px 21px -1px rgba(255, 107, 1, 1);
  }
}
