:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.34;
}

h2,
h3,
h4,
h5,
h6,
h1,
p {
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  font-family: inherit;

  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

.modal-conteiner {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 320px;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 768px;
    padding: 60px 75px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
}

.image-modal {
  margin-bottom: 30px;
  display: block;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  @media screen and (min-width: 1024px) {
    min-width: 426px;
    height: 514px;
    object-fit: cover;
    object-position: top;
  }
}

.heder-images {
  font-size: 20px;
  line-height: 1.17;

  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    font-size: 30px;
  }
}

.table-description {
  margin-bottom: 20px;
  .tr-table {
    display: flex;

    .tolowercase {
      text-transform: uppercase;
    }
    .title-table-row {
      line-height: 1.17;

      display: block;
      color: #8c8c8c;
      min-width: 108px;
      margin-bottom: 10px;
    }
    .description-table-row {
      display: block;
      text-align: left;

      line-height: 1.17;
      .vote {
        color: #ffffff;

        width: 36px;
        height: 16px;

        background: #ff6b01;
        border-radius: 5px;
        align-items: center;
      }

      .votes {
        width: 36px;
        height: 16px;
        margin-left: 3px;

        background: #f7f7f7;
        border-radius: 5px;
      }
    }
    .flex-row {
      display: inline-flex;
      text-align: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  .year {
    visibility: hidden;
  }
}

.about {
  text-transform: uppercase;
  line-height: 1.34;

  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
}

.text-about {
  line-height: 1.67;
  margin-right: 1px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    margin-right: 0;
  }
}

.button-watcyed {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;

  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: background-color var(--animation-duration) var(--timing-function);

  width: 132px;
  height: 44px;

  margin-right: 11px;
  margin-bottom: 20px;
  padding: 0;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
}

.button-watcyed:hover {
  background-color: #ff6b01;
  border: none;
  color: #ffffff;
}

.button-queue {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.34;

  text-transform: uppercase;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: background-color var(--animation-duration) var(--timing-function);

  width: 132px;
  height: 44px;
  padding: 0;
}

.button-queue:hover {
  background: #ff6b01;
  border: none;
  color: #ffffff;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.modal-position {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  @media screen and (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.lightbox__button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(255, 107, 8, 0.5);
}
