:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.scrollToTop {
      position: fixed;
      bottom: 40px;
      right: 40px;
      z-index: 9999;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 45px;
      background-color: #f5f5f5;
      color: #444;
      cursor: pointer;
      border-radius: 50%;
      display: none;
      font-size: 30px;
      font-weight: bold;
      transition: background-color var(--animation-duration) var(--timing-function);
}

.scrollToTop:hover {
  background-color: #ff6b08;
  color: white;
}

.back_to_top-show {
  display: block;
}